# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environments
venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
instance/
local_settings.py

# Environment variables
.env
.env.*

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# IDEs/editors
.vscode/